<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand">Brand</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/crypto-currencies']">List all crypto-currencies <span
        class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Settings</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="changeCurrency('USD')" class="dropdown-item">USD</button>
          <button (click)="changeCurrency('EUR')" class="dropdown-item">EUR</button>
          <button (click)="changeCurrency('CNY')" class="dropdown-item">CNY</button>
        </div>
      </div>
    </li>
  </ul>
</nav>

