<nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Brand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/crypto-currencies']">List all crypto-currencies <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav" style="float: right">
      <li>
        <ul class="nav nav-pills mr-auto">
          <li class="nav-item dropdown">
            <div ngbDropdown class="d-inline-block">
              <label>
                Currency: 
              </label>
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ currency$ }}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="changeCurrency('USD')" class="dropdown-item">USD</button>
                <button (click)="changeCurrency('EUR')" class="dropdown-item">EUR</button>
                <button (click)="changeCurrency('CNY')" class="dropdown-item">CNY</button>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

