<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price in USD</th>
            <th>Price in {{ currency$ | async }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let currency of cryptoCurrencies$ | async">
            <td>{{ currency.name }}</td>
            <td>{{ currency.price_usd }}</td>
            <td *ngIf="currency$ && currency$ === 'USD'">{{ currency.price_usd }}</td>
            <td *ngIf="currency$ && currency$ !== 'USD'">{{ currency.price_eur }}{{ currency.price_cny }}</td>
        </tr>
    </tbody>
</table>