<div class="container">
  <div class="row">
    <!-- Content here -->
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Symbol</th>
        <th scope="col">Price in {{ currency$ | async }}</th>
        <th scope="col">24 hour change</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let currency of cryptoCurrencies$ | async">
        <th scope="row">{{ currency.rank }}</th>
        <th>{{ currency.symbol }}</th>
        <th>
          <p>{{ currency.price_usd }}</p>
          <!--<p *ngIf="currency$ != 'USD'">{{ currency.price_eur }}{{ currency.price_cny }}</p>-->
        </th>
        <th>
          {{currency['24h_volume_usd']}}
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
